<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
  <h1>Basketball Team! </h1>
  <p><b>Team Name:</b> <%= @name %></p>
  <p><b>Coach:</b> <%= @coach %></p>
  <p><b>Point </b>Guard: <%=@pg %></p>
  <p><b>Power </b>Forward: <%=@pf %></p>
  <p><b>Shooti</b>ng Guard: <%=@sg %></p>
  <p><b>Small </b>Forward: <%=@sf %></p>
  <p><b>Center</b>: <%=@c %></p>
 </body>
</html>


