<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 
  <p>Team Name: <%= @personal["name"] %></p>
  <p>Coach: <%= @personal["coach"] %></p>
  <p>Point Guard: <%= @personal["pg"] %></p>
  <p>Shooting Guard: <%= @personal["sg"] %></p>
  <p>Shooting Forward: <%= @personal["sf"] %></p>
  <p>Power Forward: <%= @personal["pf"] %></p>
  <p>Center: <%= @personal["c"] %></p>
  

 </body>
</html>


  